*.o
*~
*.class
*.jasper
build
/guiTransposon/nbproject/private/
/resources/gene/
/resources/outputs/
/resources/raw/
/guiTransposon/build//cleaner
/client
/data_hashing_utility
/gmon.out
/guiTransposon/cleaner
/guiTransposon/client
/guiTransposon/data_hashing_utility
/guiTransposon/gmon.out
/guiTransposon/resources
/guiTransposon/run_expansion_generation
/guiTransposon/server
/run_configuration
/run_expansion_generation
/run_modul1
/run_modul2
/hash_result_testing
/run_modul3
/run_modul3_stitch
/run_modul4
/server
/cleaner
/guiTransposon/dist/
/Components/nbproject/private/
/Components/dist/
/sources_java/guiTransposon/dist/
/sources_java/guiTransposon/nbproject/private/
/sources_java/Components/dist/
/sources_java/Components/nbproject/private/
/ant_build/release/
/ant_build/genomeless/
/sources_c/cleaner
/sources_c/client
/sources_c/data_hashing_utility
/sources_c/gmon.out
/sources_c/hash_result_testing
/sources_c/run_configuration
/sources_c/run_expansion_generation
/sources_c/run_modul1
/sources_c/run_modul2
/sources_c/run_modul3
/sources_c/run_modul3_stitch
/sources_c/run_modul4
/sources_c/server
/sources_java/Components/nbproject/private/private.properties
/sources_java/Components/nbproject/private/private.xml
/sources_java/guiTransposon/gmon.out
